In [370]:
from app import Bank

In [371]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [372]:
bank = Bank('Hannover_Bank')

In [373]:
print(f'Bank: {bank.name}')
print(f'Accounts: {bank.accounts}')
print(f'Transactions: {bank.transactions}')

Bank: Hannover_Bank
Accounts: []
Transactions: []

In [374]:
marc = bank.open_account({'number': 1, 'firstname': 'Marc', 'lastname': 'Klages'})

In [375]:
felix = bank.open_account({'number': 2, 'firstname': 'Felix', 'lastname': 'Rolf'})

In [376]:
maren = bank.open_account({'number': 3, 'firstname': 'Maren', 'lastname': 'Rolf'})

In [377]:
anke = bank.open_account({'number': 4, 'firstname': 'Anke', 'lastname': 'Rolf'})

In [378]:
bank.accounts

[{'number': 1, 'firstname': 'Marc', 'lastname': 'Klages'},
 {'number': 2, 'firstname': 'Felix', 'lastname': 'Rolf'},
 {'number': 3, 'firstname': 'Maren', 'lastname': 'Rolf'},
 {'number': 4, 'firstname': 'Anke', 'lastname': 'Rolf'}]

In [379]:
bank2=Bank('Hamburg_Bank')

In [380]:
marilena = bank2.open_account({'number': 1, 'firstname': 'Marilena', 'lastname': 'Preuß'})

In [381]:
john = bank2.open_account({'number': 2, 'firstname': 'John', 'lastname': 'Preuß'})

In [382]:
kiken = bank2.open_account({'number': 3, 'firstname': 'Katharina', 'lastname': 'Iken'})

In [383]:
bank2.accounts

[{'number': 1, 'firstname': 'Marilena', 'lastname': 'Preuß'},
 {'number': 2, 'firstname': 'John', 'lastname': 'Preuß'},
 {'number': 3, 'firstname': 'Katharina', 'lastname': 'Iken'}]

In [384]:
bank.add_transaction(sender= marc, recipient= felix, subject= 'Seed_Invest', amount= 100000)

{'sender': {'number': 1, 'firstname': 'Marc', 'lastname': 'Klages'},
 'recipient': {'number': 2, 'firstname': 'Felix', 'lastname': 'Rolf'},
 'subject': 'Seed_Invest',
 'amount': 100000}

In [385]:
bank.add_transaction(sender= anke, recipient= maren, subject= 'Bücher', amount= 100)

{'sender': {'number': 4, 'firstname': 'Anke', 'lastname': 'Rolf'},
 'recipient': {'number': 3, 'firstname': 'Maren', 'lastname': 'Rolf'},
 'subject': 'Bücher',
 'amount': 100}

In [386]:
bank.add_transaction(sender= felix, recipient= anke, subject= 'Schuhe', amount= 150)

{'sender': {'number': 2, 'firstname': 'Felix', 'lastname': 'Rolf'},
 'recipient': {'number': 4, 'firstname': 'Anke', 'lastname': 'Rolf'},
 'subject': 'Schuhe',
 'amount': 150}

In [387]:
bank.transactions

[{'sender': {'number': 1, 'firstname': 'Marc', 'lastname': 'Klages'},
  'recipient': {'number': 2, 'firstname': 'Felix', 'lastname': 'Rolf'},
  'subject': 'Seed_Invest',
  'amount': 100000},
 {'sender': {'number': 4, 'firstname': 'Anke', 'lastname': 'Rolf'},
  'recipient': {'number': 3, 'firstname': 'Maren', 'lastname': 'Rolf'},
  'subject': 'Bücher',
  'amount': 100},
 {'sender': {'number': 2, 'firstname': 'Felix', 'lastname': 'Rolf'},
  'recipient': {'number': 4, 'firstname': 'Anke', 'lastname': 'Rolf'},
  'subject': 'Schuhe',
  'amount': 150}]

In [417]:
bank3=Bank('Harsum_Bank')

In [418]:
persons = [{'number':1, 'firstname': 'Franz-Joseph', 'lastname': 'Bode'}, 
            {'number':2, 'firstname': 'Kristina', 'lastname': 'Steinmann'}, 
            {'number':3, 'firstname': 'Conrad', 'lastname': 'Steinmann'}]

In [419]:
accounts = {}
for item in persons:
    accounts[item['firstname']] = bank3.open_account(item)

In [423]:
accounts['Franz-Joseph']

NameError: name 'Franz' is not defined

In [415]:
bank3.accounts

[{'number': 1, 'firstname': 'Franz-Joseph', 'lastname': 'Bode'},
 {'number': 2, 'firstname': 'Kristina', 'lastname': 'Steinmann'},
 {'number': 3, 'firstname': 'Conrad', 'lastname': 'Steinmann'}]

In [424]:
bank3.add_transaction(sender= accounts['Franz-Joseph'], recipient= accounts['Kristina'], subject= 'Bücher', amount= 100)

{'sender': {'number': 1, 'firstname': 'Franz-Joseph', 'lastname': 'Bode'},
 'recipient': {'number': 2, 'firstname': 'Kristina', 'lastname': 'Steinmann'},
 'subject': 'Bücher',
 'amount': 100}

complex

In [398]:
complex()

0j

In [399]:
bank.accounts

[{'number': 1, 'firstname': 'Marc', 'lastname': 'Klages'},
 {'number': 2, 'firstname': 'Felix', 'lastname': 'Rolf'},
 {'number': 3, 'firstname': 'Maren', 'lastname': 'Rolf'},
 {'number': 4, 'firstname': 'Anke', 'lastname': 'Rolf'}]

In [400]:
bank2.accounts

[{'number': 1, 'firstname': 'Marilena', 'lastname': 'Preuß'},
 {'number': 2, 'firstname': 'John', 'lastname': 'Preuß'},
 {'number': 3, 'firstname': 'Katharina', 'lastname': 'Iken'}]

In [401]:
bank3.accounts

[[{'number': 1, 'firstname': 'Franz-Joseph', 'lastname': 'Bode'},
  {'number': 2, 'firstname': 'Kristina', 'lastname': 'Steinmann'},
  {'number': 3, 'firstname': 'Conrad', 'lastname': 'Steinmann'}]]

In [403]:
bank.transactions

[{'sender': {'number': 1, 'firstname': 'Marc', 'lastname': 'Klages'},
  'recipient': {'number': 2, 'firstname': 'Felix', 'lastname': 'Rolf'},
  'subject': 'Seed_Invest',
  'amount': 100000},
 {'sender': {'number': 4, 'firstname': 'Anke', 'lastname': 'Rolf'},
  'recipient': {'number': 3, 'firstname': 'Maren', 'lastname': 'Rolf'},
  'subject': 'Bücher',
  'amount': 100},
 {'sender': {'number': 2, 'firstname': 'Felix', 'lastname': 'Rolf'},
  'recipient': {'number': 4, 'firstname': 'Anke', 'lastname': 'Rolf'},
  'subject': 'Schuhe',
  'amount': 150}]

In [441]:
for bank.transactions sum(transactions)

SyntaxError: invalid syntax (<ipython-input-441-6f93d73c76fe>, line 1)

In [404]:
bank2.transactions

[]

In [405]:
bank3.transactions

[]

In [430]:
bank4=Bank('Future_of_Investing')

In [431]:
premium_clients = [{'number':1, 'firstname':'Angela', 'lastname':'Merkel'},
                  {'number':2, 'firstname':'Wolfgang', 'lastname':'Schäuble'},
                  {'number':3, 'firstname':'Christian', 'lastname':'Lindner'}]

In [432]:
accounts = {}
for item in premium_clients:
    accounts[item['firstname']] = bank4.open_account(item)

In [434]:
accounts['Angela']

{'number': 1, 'firstname': 'Angela', 'lastname': 'Merkel'}

In [435]:
bank4.add_transaction(sender= accounts['Angela'], recipient= accounts['Christian'], subject= 'Schmiergeld', amount= 100)

{'sender': {'number': 1, 'firstname': 'Angela', 'lastname': 'Merkel'},
 'recipient': {'number': 3, 'firstname': 'Christian', 'lastname': 'Lindner'},
 'subject': 'Schmiergeld',
 'amount': 100}